* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    font-family: Muli,sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: normal !important;
    text-align: left;
    margin: 10px 0px;
}

p {
    font-family: Muli,sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: block;
    width: calc(100% - 16px);
    margin-bottom: 10px;
}

.field-label {
    display: inline-block;
    line-height: 1.3;
    clear: both;
    font-weight: 700;
    font-size: inherit;
    font-family: Muli,sans-serif;
    padding: 15px 0px;
}

input[type='tel'], input[type='email'] {
    appearance: none;
    height: 25px;
    padding: 10px 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    border: none;
    color: rgba(0,0,0,.95);
    border-bottom: 2px solid rgba(11,100,117,.68) !important;
    background: transparent !important;
    display: block;
}

.checkbox-description {
    display: inline-block;
    letter-spacing: inherit;
    vertical-align: middle;
    cursor: pointer;
    width: auto;
    line-height: 1.5;
    font-size: .875em;
    max-width: 85%;
    white-space: normal;
    list-style: none !important;
    font-family: Muli,sans-serif;
    padding: 2px;
}

button {
    cursor: pointer;
    -webkit-appearance: none;
    font-family: Muli,sans-serif;
    outline: 0;
    padding: 11px 10px !important;
    height: 38px !important;
    width: 174px !important;
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border-radius: 10px;
    background-color: #003149;
    border: 1px solid #003149;
    color: white;
    transition: all .5s;
    margin: 10px 0px;
}

button:hover {
    color: #003149;
    background: #fff;
}

.hidden {
    display:none;
}